@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body {
  font-family: "Heebo", "Helvitica", "Arial", sans-serif;
  color: rgb(233,80,58);
  max-width: 960px;
}

h1,
figure {
  margin: 20px auto; 
}

h2 {
  font-family: "Heebo", "Helivitica", "Arial", sans-serif;
  font-weight: 900;
  font-height: 24px;
}

h3 {
  font-weight: 900;
  font-height: 20px;
}
