@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body {
  font-family: "Heebo", "Helvitica", "Arial", sans-serif;
  color: rgb(233,80,58);
  max-width: 960px;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: "Heebo", "Helivitica", "Arial", sans-serif;
  font-weight: 900;
  font-height: 24px;
  text-decoration: underline;
}

h3 {
  font-weight: 900;
  font-height: 20px;
}

figcaption {
  font-style: italic;
}

ul,
ol {
  margin: 8px;
  padding: 8px;
}

header,
h2,
figure,
footer {
  text-align: center;
}

table,
tr,
th,
td {
  border: 1px solid rgb(233,80,58);
}

body {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas:
    "header  header header"
    "nav     nav    nav"
    "main    main   main"
    "footer  footer footer"
}

header {
  grid area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

a,
a:link {
  color: rgb(0,0,0);
}

a:visited {
  color: rgb(68,121,235);
}

a:hover {
  color: rgb(242,173,72);
}

a:active {
  color: rgb(103,215,73);
}
